In [1]:
import pandas as pd
import numpy as np

# Building stock data on house-level (BAG) 



This notebook uses the following datasets to merge ep-online(BAG) data with klimaatmonitordata:
- BAG data per house, including buildingtypes, retrieved from: 
- Energy data per municipality, retrieved from: klimaatmonitor

@Author: Mark Hupkens

In [18]:
df_bag = pd.read_csv("D:/markhupkens/Dropbox/EnTransitionNL/0. Data/bagadres-full.csv", error_bad_lines=False, sep =';')
df_bag.head()

C:\Users\markhupkens\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,openbareruimte,huisnummer,huisletter,huisnummertoevoeging,postcode,woonplaats,gemeente,provincie,nummeraanduiding,verblijfsobjectgebruiksdoel,...,object_id,object_type,nevenadres,pandid,pandstatus,pandbouwjaar,x,y,lon,lat
0,De Ruijterkade,105,NaN,1,1011AB,Amsterdam,Amsterdam,Noord-Holland,363200000081086,kantoorfunctie,...,363010000964973,VBO,f,3.631000e+14,Pand in gebruik,1884.0,122177.0,487877.0,4.905167,52.377780
1,De Ruijterkade,105,NaN,2,1011AB,Amsterdam,Amsterdam,Noord-Holland,363200000081087,woonfunctie,...,363010000784610,VBO,f,3.631000e+14,Pand in gebruik,1884.0,122177.0,487877.0,4.905167,52.377780
2,De Ruijterkade,105,NaN,3,1011AB,Amsterdam,Amsterdam,Noord-Holland,363200000081088,woonfunctie,...,363010000977861,VBO,f,3.631000e+14,Pand in gebruik,1884.0,122177.0,487877.0,4.905167,52.377780
3,De Ruijterkade,105,NaN,H,1011AB,Amsterdam,Amsterdam,Noord-Holland,363200000081085,bijeenkomstfunctie,...,363010000785105,VBO,f,3.631000e+14,Pand in gebruik,1884.0,122177.0,487877.0,4.905167,52.377780
4,De Ruijterkade,106,NaN,1,1011AB,Amsterdam,Amsterdam,Noord-Holland,363200012064203,kantoorfunctie,...,363010012064067,VBO,f,3.631000e+14,Pand in gebruik,1884.0,122185.0,487882.9,4.905284,52.377833

In [29]:
df_bag.columns

Index(['openbareruimte', 'huisnummer', 'huisletter', 'huisnummertoevoeging',
       'postcode', 'woonplaats', 'gemeente', 'provincie', 'nummeraanduiding',
       'verblijfsobjectgebruiksdoel', 'oppervlakteverblijfsobject',
       'verblijfsobjectstatus', 'object_id', 'object_type', 'nevenadres',
       'pandid', 'pandstatus', 'pandbouwjaar', 'x', 'y', 'lon', 'lat'],
      dtype='object')

In [28]:
'''Import Data'''

# BAG data
df = pd.read_csv("D:/markhupkens/Dropbox/EnTransitionNL/0. Data/masterdf.csv", error_bad_lines=False, sep =';')

# Energy Data
df_energy = pd.read_excel("D:/markhupkens/Dropbox/EnTransitionNL/0. Data/Klimaatmonitor (gemeenten, energieverbruik, labels, hernieuwbare opwek, co2uitstoot, bouwjaar).xls",sheet_name='Thema s Gemeenten')

df.head

MemoryError:

In [26]:
df.groupby('Preliminary Evaluation').count()

,Zip Code(6),House No,Appartment No,Construction Year,Housing Type,Address,Neighbourhood Code,District Code,Municipality Code,Municipality Name,District Name,Neighbourhood Name
Preliminary Evaluation,,,,,,,,,,,,
A,1063833,1063833,171262,1063833,1063833,1063833,1049923,1049923,1049923,1049923,1049923,1049923
B,1147458,1147458,119079,1147458,1147458,1147458,1147259,1147259,1147259,1147259,1147259,1147259
C,2228687,2228687,160848,2228687,2228687,2228687,2227812,2227812,2227812,2227812,2227812,2227812
D,486502,486502,18543,486502,486502,486502,486491,486491,486491,486491,486491,486491
E,1097394,1097394,173334,1097394,1097394,1097394,1096961,1096961,1096961,1096961,1096961,1096961
F,759854,759854,27641,759854,759854,759854,759822,759822,759822,759822,759822,759822
G,1186776,1186776,385865,1186776,1186776,1186776,1186377,1186377,1186377,1186377,1186377,1186377

## [New] data on buurt-level
10-05-2019

In [10]:
''' Create housing matrix'''

# Add housing matrix to enable building type count at the end of the script
df.loc[df['Housing Type']=='C1', 'Houses Detached BAG2018d'] = 1 
df.loc[df['Housing Type']=='C2', 'Houses 2u1Roof BAG2018d'] = 1 
df.loc[df['Housing Type']=='C3', 'Houses Corner BAG2018d'] = 1
df.loc[df['Housing Type']=='C4', 'Houses Row BAG2018'] = 1
df.loc[df['Housing Type']=='C5', 'Houses SingleFloorAppartments c5 BAG2018d'] = 1
df.loc[df['Housing Type']=='C6', 'Houses MultiFloorAppartments c6 BAG2018d'] = 1

# Add preliminary evaluation
df.loc[df['Preliminary Evaluation']=='A', 'Label A BAG2018d'] = 1 
df.loc[df['Preliminary Evaluation']=='B', 'Label B BAG2018d'] = 1 
df.loc[df['Preliminary Evaluation']=='C', 'Label C BAG2018d'] = 1
df.loc[df['Preliminary Evaluation']=='D', 'Label D BAG2018d'] = 1
df.loc[df['Preliminary Evaluation']=='E', 'Label E BAG2018d'] = 1
df.loc[df['Preliminary Evaluation']=='F', 'Label F BAG2018d'] = 1
df.loc[df['Preliminary Evaluation']=='G', 'Label G BAG2018d'] = 1

df.head()

,Zip Code(6),House No,Appartment No,Construction Year,Housing Type,Preliminary Evaluation,Address,Neighbourhood Code,District Code,Municipality Code,Municipality Name,District Name,Neighbourhood Name,Houses Detached BAG2018d,Houses 2u1Roof BAG2018d,Houses Corner BAG2018d,Houses Row BAG2018,Houses SingleFloorAppartments c5 BAG2018d,Houses MultiFloorAppartments c6 BAG2018d
0,3752NX,25,NaN,1983,C3,C,3752NX_25,3130006.0,31300.0,313.0,Bunschoten,Wijk 00,Blokhuiswetering,NaN,NaN,1.0,NaN,NaN,NaN
1,3752NX,26,NaN,1983,C3,C,3752NX_26,3130006.0,31300.0,313.0,Bunschoten,Wijk 00,Blokhuiswetering,NaN,NaN,1.0,NaN,NaN,NaN
2,3752NX,27,NaN,1983,C4,C,3752NX_27,3130006.0,31300.0,313.0,Bunschoten,Wijk 00,Blokhuiswetering,NaN,NaN,NaN,1.0,NaN,NaN
3,3752NZ,28,NaN,1983,C4,C,3752NZ_28,3130006.0,31300.0,313.0,Bunschoten,Wijk 00,Blokhuiswetering,NaN,NaN,NaN,1.0,NaN,NaN
4,3752NZ,29,NaN,1983,C4,C,3752NZ_29,3130006.0,31300.0,313.0,Bunschoten,Wijk 00,Blokhuiswetering,NaN,NaN,NaN,1.0,NaN,NaN

In [11]:
'''Group adressdata in neighborhoods within municipalities'''

# group data
df = df.groupby(['Municipality Name','Neighbourhood Name']).agg({'House No':'count',
                                              'Houses Detached BAG2018d':'count',
                                               'Houses 2u1Roof BAG2018d':'count',
                                              'Houses Corner BAG2018d':'count',
                                              'Houses Row BAG2018':'count',
                                              'Houses SingleFloorAppartments c5 BAG2018d':'count',
                                              'Houses MultiFloorAppartments c6 BAG2018d':'count',
                                              'Construction Year':'mean'})
df.rename(columns={'House No':'Houses All BAG2018d'})
# and export to excel
from pandas import ExcelWriter

with pd.ExcelWriter('D:/markhupkens/Dropbox/EnTransitionNL/0. Data/20190510_BAG_Buurt_MH.xlsx') as writer:  # doctest: +SKIP
    df.to_excel(writer, sheet_name='buurt')

In [ ]:
'''merge data on municipality name'''

df = df.merge(df_energy,left_on='Municipality Name', right_on='Themas  - Gemeenten')

### Lookup & Match
Energy data from the klimaatmonitor dataset (df_energy) needs to be matched with the 'housing type' column in the BAG data (DF), so we look up what building type the house has and match it with average E,G consumption per buildingtype per municipality for each house (N=7.8M) in the dataset.

In [ ]:
'''Add column average expected energy consumption per house'''

# Lookup housing type and match with average demand data per building type

df.loc[df['Housing Type']=='C1', 'G_average_p_type'] = df['Gemiddeld gasgebruik vrijstaande woning [m3] [2017]']
df.loc[df['Housing Type']=='C2', 'G_average_p_type'] = df['Gemiddeld gasgebruik twee-onder-een-kap-woning [m3] [2017]']
df.loc[df['Housing Type']=='C3', 'G_average_p_type'] = df['Gemiddeld gasgebruik hoekwoning [m3] [2017]']
df.loc[df['Housing Type']=='C4', 'G_average_p_type'] = df['Gemiddeld gasgebruik tussenwoning [m3] [2017]']
df.loc[df['Housing Type']=='C5', 'G_average_p_type'] = df['Gemiddeld gasgebruik appartement [m3] [2017]']
df.loc[df['Housing Type']=='C6', 'G_average_p_type'] = df['Gemiddeld gasgebruik appartement [m3] [2017]']

# Elek
df.loc[df['Housing Type']=='C1', 'E_average_p_type'] = df['Gemiddeld elektriciteitsgebruik vrijstaande woning [kWh] [2017]']
df.loc[df['Housing Type']=='C2', 'E_average_p_type'] = df['Gemiddeld elektriciteitsgebruik twee-onder-een-kap-woning [kWh] [2017]']
df.loc[df['Housing Type']=='C3', 'E_average_p_type'] = df['Gemiddeld elektriciteitsgebruik hoekwoning [kWh] [2017]']
df.loc[df['Housing Type']=='C4', 'E_average_p_type'] = df['Gemiddeld elektriciteitsgebruik tussenwoning [kWh] [2017]']
df.loc[df['Housing Type']=='C5', 'E_average_p_type'] = df['Gemiddeld elektriciteitsgebruik appartement [kWh] [2017]']
df.loc[df['Housing Type']=='C6', 'E_average_p_type'] = df['Gemiddeld elektriciteitsgebruik appartement [kWh] [2017]']

# Add housing matrix to enable building type count at the end of the script
df.loc[df['Housing Type']=='C1', 'House (detached, c1) (# houses)'] = 1
df.loc[df['Housing Type']=='C2', 'Two under one roof (c2) (# houses)'] = 1
df.loc[df['Housing Type']=='C3', 'Cornerhouse (c3) (# houses)'] = 1
df.loc[df['Housing Type']=='C4', 'Row house (c4) (# houses)'] = 1
df.loc[df['Housing Type']=='C5', 'Appartment (c5) (single floor) (# houses)'] = 1
df.loc[df['Housing Type']=='C6', 'Appartment (c6) (multiple floors) (# houses)'] = 1

In [ ]:
df.head()

### Aggregation
Now we have done all data manipulations on house-level, we will aggregate the data to municipal level for model-setup.

In [ ]:
'''Aggregate data for insights''' #good one

df.G_average_p_type = pd.to_numeric(df.G_average_p_type,errors='coerce') # Drop nonnumeric data

# Group data by municipality and aggregate
df_muni = df.groupby('Municipality Name').agg({'House No':'count','House (detached, c1) (# houses)':'count',
                                               'Two under one roof (c2) (# houses)':'count',
                                               'Cornerhouse (c3) (# houses)':'count',
                                               'Row house (c4) (# houses)':'count',
                                               'Appartment (c5) (single floor) (# houses)':'count',
                                               'Appartment (c6) (multiple floors) (# houses)':'count',
                                               'G_average_p_type':'mean',
                                               'E_average_p_type':'mean','Construction Year':'mean'})                                            
df_muni['Total E (GWh)'] = (df_muni['House No'] * df_muni['E_average_p_type'])/1000000
df_muni['Total G (Miljoen m3)'] = (df_muni['House No'] * df_muni['G_average_p_type'])/1000000

df_muni = df_muni.round(2)
# df_muni['Municipality Name'] = df_muni.index
df_muni.head()

In [ ]:
'''Aggregate data for insights'''

df.G_average_p_type = pd.to_numeric(df.G_average_p_type,errors='coerce') # Drop nonnumeric data

# Group data by municipality and aggregate
df_muni = df.groupby('Municipality Name').agg({'House No':'count','G_average_p_type':'mean','E_average_p_type':'mean',
                                              'House (detached, c1) (# houses)':'count',
                                               'Two under one roof (c2) (# houses)':'count',
                                              'Cornerhouse (c3) (# houses)':'count','Row house (c4) (# houses)':'count',
                                              'Appartment (c5) (single floor) (# houses)':'count',
                                              'Appartment (c6) (multiple floors) (# houses)':'count'})
df_muni['Total E (GWh)'] = (df_muni['House No'] * df_muni['E_average_p_type'])/1000000
df_muni['Total G (Miljoen m3)'] = (df_muni['House No'] * df_muni['G_average_p_type'])/1000000

df_muni.round(2) #.sort_values(by=index).head()

### Merge data with Model-setup framework
Import modelsetup file and merge build-environment data with it on municipality name

In [ ]:
df_gem = pd.read_excel("D:/markhupkens/Dropbox/EnTransitionNL/0. Data/ModelSetUpEnergieNL02 (1).xlsx",sheet_name='gemeente')
df_buurt = pd.read_excel("D:/markhupkens/Dropbox/EnTransitionNL/0. Data/ModelSetUpEnergieNL02 (1).xlsx",sheet_name='buurt')
df_wijk = pd.read_excel("D:/markhupkens/Dropbox/EnTransitionNL/0. Data/ModelSetUpEnergieNL02 (1).xlsx",sheet_name='wijk')
df_mod = pd.read_excel("D:/markhupkens/Dropbox/EnTransitionNL/0. Data/ModelSetUpEnergieNL02 (1).xlsx",sheet_name='ModelSpecification')

# split entity string to match building data on municipality name
df_gem['Municipality Name'] = df_gem["Entities"].str.split(" G").str[0]

In [ ]:
# merge data frames
df_gem = df_gem.merge(df_muni, left_on='Municipality Name', right_on= df_muni.index)
df_gem = df_gem.drop(['Municipality Name'], axis=1)

In [ ]:
df_gem

### Export new modelspecification file

In [ ]:
# export as xlsx to genereate new modelspecification file
from pandas import ExcelWriter

with pd.ExcelWriter('D:/markhupkens/Dropbox/EnTransitionNL/0. Data/ModelSetUpEnergyNL01_MH.xlsx') as writer:  # doctest: +SKIP
    df_buurt.to_excel(writer, sheet_name='buurt')
    df_wijk.to_excel(writer, sheet_name='wijk')
    df_gem.to_excel(writer, sheet_name='gemeente')
    df_mod.to_excel(writer, sheet_name='ModelSpecification')