In [2]:
import pandas as pd

### Description
- Notebook to analyse buidling information provided by Bag.
- Opensource dataset available on: https://data.nlextract.nl/bag/csv/bag-adressen-full-laatst.csv.zip
- Simple script that cleans data for simulation modelling

Author: M. Hupkens
<br>
Date: 26-03-2019

## BAG Data

In [2]:
'''Data import'''

df = pd.read_csv("D:\markhupkens\Dropbox\EnTransitionNL\0. Data\bagadres-full.csv", sep=';')

# show data
df.head()

C:\Users\markhupkens\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,openbareruimte,huisnummer,huisletter,huisnummertoevoeging,postcode,woonplaats,gemeente,provincie,nummeraanduiding,verblijfsobjectgebruiksdoel,...,object_id,object_type,nevenadres,pandid,pandstatus,pandbouwjaar,x,y,lon,lat
0,De Ruijterkade,105,NaN,1,1011AB,Amsterdam,Amsterdam,Noord-Holland,363200000081086,kantoorfunctie,...,363010000964973,VBO,f,3.631000e+14,Pand in gebruik,1884.0,122177.0,487877.0,4.905167,52.377780
1,De Ruijterkade,105,NaN,2,1011AB,Amsterdam,Amsterdam,Noord-Holland,363200000081087,woonfunctie,...,363010000784610,VBO,f,3.631000e+14,Pand in gebruik,1884.0,122177.0,487877.0,4.905167,52.377780
2,De Ruijterkade,105,NaN,3,1011AB,Amsterdam,Amsterdam,Noord-Holland,363200000081088,woonfunctie,...,363010000977861,VBO,f,3.631000e+14,Pand in gebruik,1884.0,122177.0,487877.0,4.905167,52.377780
3,De Ruijterkade,105,NaN,H,1011AB,Amsterdam,Amsterdam,Noord-Holland,363200000081085,bijeenkomstfunctie,...,363010000785105,VBO,f,3.631000e+14,Pand in gebruik,1884.0,122177.0,487877.0,4.905167,52.377780
4,De Ruijterkade,106,NaN,1,1011AB,Amsterdam,Amsterdam,Noord-Holland,363200012064203,kantoorfunctie,...,363010012064067,VBO,f,3.631000e+14,Pand in gebruik,1884.0,122185.0,487882.9,4.905284,52.377833

In [5]:
'''Select data'''

# select residential buildings
df2 = df[df['verblijfsobjectgebruiksdoel']=='woonfunctie'] 

# print unique records
print('Number of individual residential buildings in dataset =',len(df2)) 

# show unique records
df2.groupby(['woonplaats','openbareruimte']).count().sort_values(by='huisnummer', ascending=False).head()

Number of individual residential buildings in dataset = 7858625

,,huisnummer,huisletter,huisnummertoevoeging,postcode,gemeente,provincie,nummeraanduiding,verblijfsobjectgebruiksdoel,oppervlakteverblijfsobject,verblijfsobjectstatus,object_id,object_type,nevenadres,pandid,pandstatus,pandbouwjaar,x,y,lon,lat
woonplaats,openbareruimte,,,,,,,,,,,,,,,,,,,,
's-Gravenhage,Laan van Meerdervoort,2292,768,333,2292,2292,2292,2292,2292,2292,2292,2292,2292,2292,2292,2292,2292,2292,2292,2292,2292
Amsterdam,Prinsengracht,2171,1196,795,2171,2171,2171,2171,2171,2171,2171,2171,2171,2171,2171,2171,2171,2171,2171,2171,2171
Nijmegen,Zwanenveld,2132,0,0,2132,2132,2132,2132,2132,2132,2132,2132,2132,2132,2132,2132,2132,2132,2132,2132,2132
Zeist,Laan van Vollenhove,2089,7,97,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089,2089
's-Gravenhage,Waldorpstraat,1933,990,448,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933

In [6]:
# show variables in dataset
df.columns

Index(['openbareruimte', 'huisnummer', 'huisletter', 'huisnummertoevoeging',
       'postcode', 'woonplaats', 'gemeente', 'provincie', 'nummeraanduiding',
       'verblijfsobjectgebruiksdoel', 'oppervlakteverblijfsobject',
       'verblijfsobjectstatus', 'object_id', 'object_type', 'nevenadres',
       'pandid', 'pandstatus', 'pandbouwjaar', 'x', 'y', 'lon', 'lat'],
      dtype='object')

In [7]:
df.verblijfsobjectstatus.unique()

array(['Verblijfsobject in gebruik', 'Verblijfsobject gevormd',
       'Plaats aangewezen', 'Verblijfsobject in gebruik (niet ingemeten)',
       'Verblijfsobject buiten gebruik'], dtype=object)

In [10]:
df.oppervlakteverblijfsobject.describe()

count    9.110822e+06
mean     1.804438e+02
std      1.763847e+03
min      0.000000e+00
25%      7.600000e+01
50%      1.050000e+02
75%      1.390000e+02
max      9.999990e+05
Name: oppervlakteverblijfsobject, dtype: float64

In [11]:
df.object_type.unique()

array(['VBO', 'LIG', 'STA'], dtype=object)

## Data for: Energy Efficiency of Residential Buildings in the European Union - An Exploratory Analysis of Cross-Country Consumption Patterns

Source: Anita Thonipara via https://data.mendeley.com/datasets/pvb5kshnst/1 <br>
Related publication: https://linkinghub.elsevier.com/retrieve/pii/S0301421519301661

In [23]:
df_eu = pd.read_stata('Full Data Set.dta')
df_eu.to_csv('EU_EnergyEfficiency_residential_buildings.csv')
df_eu[df_eu['country']=='Netherlands']

,ID,year,country,wapitax,wapinet,share_post80_,consumption,tax,hh_size,floor_area,...,latitude,latitude2,longitude,log_latitude,log_longitude,WAPIDH,log_WAPIDH,Pri_Inc,Year,DistrictHeatTotal
304,20.0,2000.0,Netherlands,608.586182,397.827362,27.870001,1.617687,210.758835,2.3,106.193001,...,52.132633,2717.811523,5.291266,3.953791,1.666058,606.256125,6.407302,15775241.0,2011.0,0.023342
305,20.0,2001.0,Netherlands,668.502075,402.958069,28.940001,1.689320,265.544037,2.3,106.379997,...,52.132633,2717.811523,5.291266,3.953791,1.666058,664.735156,6.499389,17771540.0,2006.0,0.018359
306,20.0,2002.0,Netherlands,753.540771,454.661133,30.030001,1.634377,298.879669,2.3,106.416000,...,52.132633,2717.811523,5.291266,3.953791,1.666058,748.628318,6.618243,21715028.0,2004.0,0.019342
307,20.0,2003.0,Netherlands,971.985046,585.167358,31.020000,1.660690,386.817657,2.3,106.654999,...,52.132633,2717.811523,5.291266,3.953791,1.666058,962.513062,6.869548,34257772.0,2014.0,0.026122
308,20.0,2004.0,Netherlands,1117.374268,675.424561,31.900000,NaN,441.949768,2.3,108.630997,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1104.380702,7.007040,44644288.0,2005.0,0.018834
309,20.0,2005.0,Netherlands,1276.853149,789.365967,32.860001,1.534602,487.487274,2.3,110.608002,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1260.657475,7.139389,53087928.0,2000.0,0.014441
310,20.0,2006.0,Netherlands,1420.788696,901.503967,33.830002,NaN,519.284729,2.3,112.584000,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1404.278211,7.247279,63159700.0,2002.0,0.016366
311,20.0,2007.0,Netherlands,1645.172852,1088.446777,34.869999,1.397313,556.726074,2.3,114.559998,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1622.735010,7.391868,84300824.0,2003.0,0.018384
312,20.0,2008.0,Netherlands,1714.970459,1145.570312,36.020000,1.530338,569.400085,2.3,116.536003,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1690.105530,7.432546,97631248.0,2001.0,0.016676
313,20.0,2009.0,Netherlands,1677.208984,1140.473999,37.139999,1.514688,536.734985,2.2,118.512001,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1652.947967,7.410316,87047720.0,2007.0,0.018953
314,20.0,2010.0,Netherlands,1413.599731,913.317810,38.299999,1.702960,500.281860,2.2,120.487999,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1392.206840,7.238646,71162376.0,2012.0,0.026896
315,20.0,2011.0,Netherlands,1623.188477,1075.278320,39.080002,1.387172,547.910217,2.2,122.463997,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1594.091362,7.374059,86901088.0,2013.0,0.029967
316,20.0,2012.0,Netherlands,1633.210571,1087.649048,39.599998,1.440506,545.561462,2.2,124.440002,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1603.541808,7.379970,80802616.0,2010.0,0.025647
317,20.0,2013.0,Netherlands,1717.877808,1085.527100,40.110001,1.500871,632.350647,2.2,124.608002,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1683.959753,7.428903,88342000.0,2015.0,0.026122
318,20.0,2014.0,Netherlands,1764.078491,1118.054810,40.520000,1.178491,646.023682,2.2,124.121002,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1728.292969,7.454889,91976728.0,2008.0,0.021013
319,20.0,2015.0,Netherlands,1424.965088,883.857361,41.099998,1.260654,541.107727,2.2,NaN,...,52.132633,2717.811523,5.291266,3.953791,1.666058,1399.374800,7.243781,NaN,2009.0,0.021414

In [24]:
df_eu.groupby('country').mean().head(10)

,ID,year,wapitax,wapinet,share_post80_,consumption,tax,hh_size,floor_area,gdp_capita,...,latitude,latitude2,longitude,log_latitude,log_longitude,WAPIDH,log_WAPIDH,Pri_Inc,Year,DistrictHeatTotal
country,,,,,,,,,,,,,,,,,,,,,
,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Austria,1.0,2007.5,1569.961426,1001.068054,34.498123,1.486235,568.893372,2.31875,96.559998,41084.585938,...,47.516232,2257.792236,14.550072,3.861071,2.677596,1396.154076,7.188739,69233248.0,2007.5,0.104976
Belgium,2.0,2007.5,1263.481201,984.739380,24.116875,1.725143,250.808838,2.30000,83.028893,38798.871094,...,50.503887,2550.642578,4.469936,3.922050,1.497374,1263.481230,7.092253,52224636.0,2007.5,0.000000
Bulgaria,3.0,2007.5,1133.907227,748.185059,23.625626,0.583928,385.722198,2.83750,66.208931,5155.721191,...,42.733883,1826.184692,25.485830,3.754992,3.238123,789.999218,6.641026,6559900.0,2007.5,0.167187
Croatia,4.0,2007.5,1127.622559,733.069458,33.173126,1.490525,319.912170,2.80000,78.327332,11127.915039,...,45.099998,2034.009888,15.200000,3.808882,2.721295,1046.779726,6.932016,14071904.0,2007.5,0.054663
Cyprus,5.0,2007.5,1741.449707,1456.941772,56.499374,0.807272,284.507812,2.88125,141.014130,25582.564453,...,35.126411,1233.864746,33.429859,3.558953,3.509449,1741.449636,7.341081,48691468.0,2007.5,0.000000
Czech Rep.,6.0,2007.5,945.219666,714.509644,34.406250,1.542523,230.709991,2.47500,75.310135,15436.442383,...,49.817493,2481.782715,15.472962,3.908366,2.739094,840.902289,6.645830,16644181.0,2007.5,0.178751
Denmark,7.0,2007.5,2490.199707,1011.266113,20.529375,1.551367,1478.933594,2.00000,112.035797,50791.761719,...,56.263920,3165.628662,9.501785,4.030054,2.251480,1783.009100,7.469090,133403520.0,2007.5,0.335936
Estonia,8.0,2007.5,1356.024780,538.652527,32.399376,1.449432,730.045532,2.31875,60.663799,12742.160156,...,58.595272,3433.406006,25.013607,4.070654,3.219420,776.559164,6.637240,22371518.0,2007.5,0.369900
Finland,9.0,2007.5,1581.687256,835.955566,38.918125,1.800352,745.731689,2.08750,96.138199,41283.375000,...,61.924110,3834.595459,25.748152,4.125910,3.248363,1109.238940,6.963775,69531128.0,2007.5,0.284599